.sidebar-nav{
    overflow: auto;
}
.sidebar-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li{
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
}
.sidebar-nav li + li{
    margin-top: 45px;
}
.sidebar-nav li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px 0 70px;
    position: relative;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.sidebar-nav li a:before{
    content: '';
    width: 4px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.sidebar-nav li a.active{
    opacity: 1;
}
.sidebar-nav li a.active:before{
    opacity: 1;
}
.sidebar-nav li .fa{
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

@media (max-width: 767px){
    .sidebar-nav li{ font-size: 16px; line-height: 30px; }
    .sidebar-nav li + li{ margin-top: 25px; }
    .sidebar-nav li .fa{ font-size: 22px;}
    .sidebar-nav li a{ padding-left: 60px; }
}

@media ( max-height: 780px ){
    .sidebar-nav li + li{ margin-top: 25px; }
}